@use "styles/colors";
@use "styles/breakpoint";

@mixin gray__filter {
  filter: grayscale(100%);
}
.rootHeader {
	position: fixed;
	@media (min-width: breakpoint.$lg) {
		max-width: 290px;
	}
}
.innerHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerWrapper {
  width: 100%;
  padding: 20px;
  background-color: colors.$main;
  height: 84px;
}

.logo {
  width: 242px;
  height: 40px;
}

.burgerBtn {
  width: 48px;
  height: 40px;
  padding: 4px 8px;
}

.desktopLogo {
  display: flex;
  justify-content: space-between;
  padding: 15px 1.25rem;
  margin-bottom: 50px;
}

.desktopSkilvulIcon {
  @include gray__filter;
  height: 26px !important;
}

.desktopNotifIcon {
  margin-left: 10px;
  height: 22px !important;
}

.grayish {
  @include gray__filter;
}
