@use "styles/colors";

.innerHeader {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.headerWrapper {
	width: 100%;
	padding: 20px;
	background-color: colors.$primary;
	height: 84px;
}

.logo {
	width: 242px;
	height: 40px;
}

.burgerBtn {
	width: 56px;
	height: 40px;
}

.desktopLogo {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 1.25rem;
	margin-bottom: 50px;
}

.desktopSkilvulIcon {
	filter: grayscale(100%);
	height: 26px !important;
}

.desktopNotifIcon {
	margin-left: 10px;
	height: 22px !important;
}
