@use "styles/colors";
@use "styles/breakpoint";

.root {
	width: 100%;
	display: flex;
	align-items: start;
	&.left {
		justify-content: flex-start;
	}
	&.right {
		justify-content: flex-end;
	}
}

.bubbleGroup {
	position: relative;
	margin-left: 8px;
}

.bubble {
	width: inherit;
	max-width: 300px;
	padding: 15px;
	&.left {
		background-color: colors.$white;
		border-radius: 20px 20px 20px 0;
	}
	&.right {
		background-color: colors.$main;
		border-radius: 20px 20px 0 20px;
	}
	@media (max-width: breakpoint.$lg) {
		max-width: 240px;
	}
}

.dateTime {
	font-size: 12px;
	color: colors.$text-3rd;
}
