@use "styles/colors";
@use "styles/breakpoint";

.card {
  background: colors.$white;
  border-radius: 6px;
  border: 0;
  height: 100%;

  img {
    border-radius: 6px 6px 0 0;
  }
}

.image {
  position: relative;
  height: 165px;
  @media (max-width: breakpoint.$lg) {
    height: 125px;
  }
}

.title {
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%;
  line-height: 1.5;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text {
  font-size: 14px;
  color: colors.$text-3rd;
  margin-bottom: 5px;
}

.icon {
  color: colors.$text-3rd;
  margin-right: 14px;
}

.link {
  &:hover {
    color: inherit;
    text-decoration: none;

    .title {
      color: colors.$blue;
    }
  }
}
