@use "styles/colors";

.title {
	height: 72px;
	overflow: hidden;
}

.text {
	font-size: 16px;
	margin-bottom: 12px;
	height: 48px;
	overflow: hidden;
	color: colors.$secondary;
}

.date {
	font-size: 16px;
	color: colors.$text-3rd;
}
