.ideasWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-right: 16px;
}

.textTitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
}

.ideaImage {
  border-radius: 10px;
  width: 100%;
}
