@use 'styles/colors';

.styTabTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.7rem;
}

.styTabContainer {
  width: 100%;
}

.styActiveTab {
  border-bottom: 5px solid #fae23a;
}

.styNav {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 16px 0;
  justify-content: center;
}

.styNavItem {
  width: 50%;
  padding-bottom: 14px;
  text-align: center;
}
