@use "styles/colors";

.card {
	border: 0;
	text-align: center;
	background-color: colors.$white;
	padding: 1rem;
	border-radius: 10px;

	img {
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
		width: 120px;
		height: 120px;
	}
}

.title {
	height: 24px;
	overflow: hidden;
	margin-top: 12px;
}

.text {
	font-size: 14px;
	padding-bottom: 0;
	margin-bottom: 0;
	overflow: hidden;
	color: colors.$secondary;
}

.link {
	&:hover {
		text-decoration: none;

		.title {
			color: colors.$blue;
		}
	}
}

