@use '../../styles/breakpoint';

.bannerSlide {
	position: relative;
	min-width: 92%;
	padding: 0.5rem;
}

.bannerSlideInner {
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
	height: 270px;

	@media (max-width: breakpoint.$lg) {
		height: 200px;
	}
}
