@use 'styles/breakpoint';

.bannerSlide {
	position: relative;
	min-width: 90%;
	padding-right: 2%;

	@media (max-width: breakpoint.$lg) {
		min-width: 95%;
		padding-right: 2%;
	}
}

.bannerSlideInner {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	height: 270px;

	@media (max-width: breakpoint.$lg) {
		height: 200px;
	}
}
