@use "styles/colors";
@use "styles/breakpoint";

.pointBadge {
  background-color: colors.$white;
  box-shadow: 0 25px 50px rgba(35, 37, 96, 0.07);
  padding-top: 15px;
  padding-bottom: 15px;

  @media (max-width: breakpoint.$lg) {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid colors.$gray-500;
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: breakpoint.$lg) {
    justify-content: space-between;
  }
}

.searchGroup {
  position: relative;
	width: 100%;
}

.search {
  padding-right: 30px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 22px;
}

.account,
.dropDown {
  min-width: 160px;
  max-width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover,
  &:focus,
  &:active,
  &:active {
    text-decoration: none;
    outline: none !important;
  }
}

.accountImage {
  width: 32px;
  height: 32px;
  margin-right: 0.25rem;
}

.accountName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notifFillIcon {
  color: colors.$gray-500;
  margin-right: 1.5rem;
}

.dropDownAccount {
  min-width: 250px;
}

.dropDownAccountInfo {
  border-bottom: 1px solid colors.$gray-500;
  padding: 0.25rem 1.5rem 1rem;
  margin-bottom: 1rem;
}
