@use "styles/colors";

.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
	cursor: pointer;
}
.rotateDown {
  transform: rotate(180deg);
}

.bgPrimary {
  background-color: colors.$main;

	a {
		&:hover {
			text-decoration: none;
		}
	}
}
