@use 'styles/colors';
@use 'styles/breakpoint';

.podiumItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 5px 8px;
  align-items: center;
  &:nth-child(odd) {
    margin-top: 60px;
  }
}

.styPodiumWrapper {
  width: 100%;
  @media (min-width: breakpoint.$lg) {
    width: 394px;
  }
}
.styTopPodiumWrapper {
  width: 100%;
  background-color: colors.$primary;
  display: flex;
  padding: 16px 24px 0px 24px;
  height: 285px;
  justify-content: center;
  :nth-of-type(2) {
    align-self: baseline;
  }
}

.styPoints {
  border-radius: 7px;
  padding: 10px;
  width: 92px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  color: colors.$white;
}

.styStar {
  margin-right: 8px;
  margin-top: -3px;
}

.styPosition {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 6px 16px 0 8px;
}

.styPointsOutline {
  padding: 6px;
  margin-top: 4px;
  border-radius: 10px;
  width: 100px;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  color: colors.$blue;
  height: 32px;
  border: 1px solid colors.$blue;
}

.styName {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding: 6px 0 0 8px;
  height: 45px;
  margin-bottom: 10px;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 100%;
  line-height: 1.5;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
