@use "styles/colors";

@mixin flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topTitle {
  @include flex__center;
  width: 100%;
  background-color: colors.$primary;
  > p {
    padding: 4px 0 2px 4px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
  }
}

.content {
  @include flex__center;
  flex-direction: column;
  margin-top: 16px;
}

.contentTitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  margin: 16px 0 0 0;
}
.contentDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 20px;
}
