@use 'styles/colors';
@use 'styles/breakpoint';
@use 'styles/fonts';

.footer {
  background-color: colors.$white;
  padding-top: 40px;
}

.footerRoot {
  padding: 15px;
}

.dicLogo {
  font-family: 'Bungee', cursive;
  font-size: 18px;
  margin-bottom: 20px;
}

.longText {
  color: colors.$secondary;
  font-size: 10px;
  text-align: justify;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.item {
  margin-bottom: 5px;
  color: colors.$secondary;
  cursor: pointer;
}

.contactRoot {
  border-top: 1px solid #eaedf3;
  padding: 25px 15px;
  margin-bottom: 50px;
}

.contactText {
  color: colors.$secondary;
  font-size: 14px;
  margin-bottom: 0;
}

.contactIcon {
  color: colors.$secondary;
  font-size: 18px;
  margin-right: 4px;
}

.contactSkilvulIcon {
  color: colors.$secondary;
  height: 20px;
  margin-left: 4px;
}
