@use 'styles/colors';
@use 'styles/breakpoint';

.footerContainer {
  width: 90%;
  height: auto;
  background: #ffffff;
  @media (max-width: breakpoint.$md) {
    width: 100%;
    padding-top: 40px;
  }
}

.footerInner {
  padding: 0 1.5rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  @media (max-width: breakpoint.$md) {
    flex-direction: column;
    margin-top: 0;
  }
}

.leftSide {
  width: 400px;
  @media (max-width: breakpoint.$md) {
    width: 100%;
    word-wrap: break-word;
  }
}
.markodingMessage {
  height: 120px;
  margin-top: 24px;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: colors.$secondary;
}

.innerFooter {
  padding: 24px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.footerItem {
  flex: 1 1 100%;
  padding-top: 8px;
}
.footerChild {
  display: flex;
  flex-direction: column;
  color: colors.$secondary;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 400px;
  flex-wrap: wrap;
  @media (max-width: breakpoint.$md) {
    width: 100%;
    flex-direction: column;
  }
}

.footerInfo {
  display: flex;
  width: 50%;
  @media (max-width: breakpoint.$md) {
    width: 100%;
    flex-direction: column;
    > .footerItem {
      margin-bottom: 8px;
    }
  }
}

.stySkilvul {
  width: 113px;
  height: 34px;
}
