@use 'styles/colors';

.footerContainer {
  width: 90%;
  height: auto;
  background: #ffffff;
}

.leftSide {
  width: 400px;
}
.markodingMessage {
  height: 120px;
  margin-top: 24px;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: colors.$secondary;
}

.innerFooter {
  padding: 24px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.footerItem {
  flex: 1 1 100%;
  padding-top: 8px;
}
.footerChild {
  display: flex;
  flex-direction: column;
  color: colors.$secondary;
}

.textBold {
  font-weight: bold;
  color: colors.$dark;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
