@use "styles/colors";

.avatar {
	position: relative;
  min-width: 52px;
	margin-right: 15px;
}

.text {
  font-size: 16px;
  color: colors.$secondary;
}

.time {
  font-size: 14px;
  color: colors.$text-3rd;
	display: block;
	margin: 0 8px;
}

.iconLike {
  color: colors.$red;
  margin-right: 12px;
}

.iconComment {
  color: colors.$accent;
  margin-right: 12px;
}

.noHover {
	&:hover {
		text-decoration: none;
	}
}
