@use 'styles/colors';

.modalWrapper {
  top: 80px;
}
.styTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.stySubtitle {
  color: colors.$secondary;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}
