// ---------------------------------------------------------------------------
// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

//
// Color system
//

$white: #FFFFFF;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$accent: #2F80ED;
$text-3rd: #A9A5B6;
$main: #FAE23A;
$secondary: #6D6A6C;
$dark: #0E0C0D;

$blue: #2F80ED;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #D72E3D;
$orange: #f37121;
$yellow: #FFC107;
$green: #28A745;
$teal: #20c997;
$cyan: #CCE5FF;


