@use "colors";

$theme-colors: (
	primary: colors.$blue,
	secondary: colors.$secondary,
	success: colors.$green,
	info: colors.$cyan,
	warning: colors.$yellow,
	danger: colors.$red,
	light: colors.$gray-100,
	dark: colors.$dark
);

@import "~bootstrap/scss/bootstrap";
