@use "colors";

.directoryContent {
	position: relative;
	background-color: colors.$bg;
	display: flow-root;
}

.directoryGrid {
	margin-bottom: 30px;
}

.directoryCard {
	border: 0;
	text-align: center;
	background-color: colors.$white;
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 30px;

	img {
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
		width: 120px;
		height: 120px;
	}
}

.backIcon {
	font-size: 22px;
	margin-right: 6px;
}

.backTitle {
	text-transform: capitalize;
	font-weight: 500;
}

.socialIcon {
	font-size: 32px;
	margin: 0 6px;
}

.socialGroup {
	display: flex;
	justify-content: center;
	margin: 0 auto 24px;
}

.chatButton {
	margin: 24px auto;
}
